<div class="cards">
  <% catches.each do |catch| %>
    <div class="card card-img"
         style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= catch.animal.photo_url.present? ? animal.photo_url : 'https://lemagduchat.ouest-france.fr/images/dossiers/2021-03/mini/chaton-sante-071721-650-400.jpg' %>)" alt="<%= catch.animal.name %>">
      <div class="card-name">
        <%= catch.animal.name %>
      </div>
      <%= link_to remove_catch_collection_path, data: {show_collection_id_param: catch.id ,action: 'click->show-collection#removeCatch', turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
  <% end %>
</div>
