<div class="d-none">
  <%= simple_form_for [current_user, collection] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit :edit, class: "btn btn-success text-white" %>
  <% end %>
</div>
