<div class="d-none group-form"
     data-show-collection-target= "form">
  <%= simple_form_for [current_user, collection] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit :edit, class: "btn btn-success text-white valid" %>
  <% end %>
</div>
