<h1>Collections</h1>

<ul><% @collections.each do |collection| %>
      <li>Title : <%= link_to collection.name, user_collection_path(current_user, collection) %></li>
      <%= link_to 'Delete a collection', collection_path(collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-secondary' %>
    <% end %>
</ul>

<div class='btn btn-outline-secondary'>Add a collection</div>
<div>
  <%= render 'form_create', collection: @collection %>
</div>
