<h1>Collections</h1>

<%= render 'shared/cards_collection' %>

<div class='btn btn-outline-secondary' data-controller='create-form' >Add a collection</div>
<div>
  <%= render 'form_create', collection: @collection %>
</div>
