<div class="container">
<h1>Collections</h1>

<div data-controller='index-collection'>
  <div class='btn btn-outline-secondary'
       data-action="click->index-collection#revealFormEdit">
      <i class="fa-solid fa-folder-plus"></i>
  </div>
  <div>
    <%= render 'form_create', collection: @collection %>
  </div>
</div>

<%= render 'shared/cards_collection' %>
</div>
