// Define variables for your color scheme

// For example:

$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;

$white: #FFFFFF;
$dark: #000000;
$dark-light: #404040;
$grey: #C2C0C0;

$primary: #283618;
$secondary: #BC6C25;
$primary-light: #606C38;
$background: #FEFAE0;
$secondary-light: #DDA15E;
