// Specific CSS for your home-page
canvas {
  display: none;
}

.background-home {
  width: 100vw;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.text-primary-light {
  color: #606C38;
}

.btn-home-acceptrefuse {
  width: 130px !important;
}

.camera {
  position: absolute;
  top: 0;
}

.photo {
  position: absolute;
  top: 0;
}
