// Specific CSS for your home-page
canvas {
  display: none;
}

.background-home {
  width: 100vw;
  height: 135px;
  background-size: cover;
}

.text-primary-light {
  color: #606C38;
}

.btn-home-acceptrefuse {
  width: 130px !important;
}
