<div class="container-requests">
  <div class="row row-new-friends">
    <% @friends_requests.each do |friend| %>
      <div class="d-flex requests">

        <div class="img-new-friends">
          <img class="img-friend" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.tC40csI9zKVUdGjaH7qRFwAAAA%26pid%3DApi&f=1&ipt=8ebb635c0e96a64da12ad312da8d80d67635e3cf9b66c2a243f5ec1993bcf748&ipo=images" alt="">
        </div>

        <div class="add-refuse">
          <div>
            <p class="center-username"><%= friend.username %></p>
          </div>

          <div class="buttons-requests">
            <%= link_to "Reject", reject_friend_path(friend), class: 'button-request btn btn-outline-secondary p-2', data: { turbo_method: :patch, action: "click->friend-card#removeCard" } %>
            <%= link_to "Accept", add_friend_path(friend), class: 'button-request text-color-white btn btn-secondary p-2', data: { turbo_method: :patch, action: "click->friend-card#removeCard" } %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
