<h1>Friends#index</h1>
<p>Find me in app/views/friends/index.html.erb</p>
<h1>Friends List</h1>

<div class="friends-list">
  <div>
    <button class="new-friends"><%= link_to "NEW FRIENDS REQUESTS", friends_requests_friends_path %></button>
  </div>

  <% @friends.each do |friend| %>
    <div>
      <ul>
        <li><%= friend.username %></li>
        <li><%= link_to 'view profile', friend_path(friend) %></li>
      </ul>
    </div>
  <% end %>
</div>
