
<div class="container">
  <div class="row">
    <div class="col p-2">
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
      <div class="card-name">
        Collection
      </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
        <div class="card-name">
          Collection
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col p-2">
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
      <div class="card-name">
        Collection
      </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
        <div class="card-name">
          Collection
        </div>
      </div>
    </div>
  </div>
</div>
