
<div class="cards">
  <% collections.each do |collection| %>
    <% if collection.catches.nil? %>
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
        <div class="card-name">
          <%= link_to collection.name, user_collection_path(id, collection) %>
        </div>
      </div>
    <% else %>
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= collection.catches[0].animal.photo_url %>')" alt="<%= collection.catches[0].animal.name %>">
        <div class="card-name">
          <%= link_to collection.name, user_collection_path(id, collection) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
