
<div class="container">
  <div class="row">
    <div class="col p-2">
      <% @collections.each do |collection| %>
        <% if collection == current_user.collections[0] %>
        <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
          <div class="card-name">
            <%= link_to collection.name, user_collection_path(current_user, collection) %>
          </div>
        </div>
    </div>
    <div class="col p-2">
        <% else %>
        <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
          <div class="card-name">
            <%= link_to collection.name, user_collection_path(current_user, collection) %>
          </div>
            <%= link_to 'Delete a collection', collection_path(collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-secondary' %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col p-2">
    <% @collections.each do |collection| %>
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
      <div class="card-name">
        <%= link_to collection.name, user_collection_path(current_user, collection) %>
      </div>
      </div>
    <% end %>
    </div>

    <div class="col p-2">
      <div class="card card-img" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://animalaxy.fr/wp-content/uploads/2018/12/iStock-521375128.jpg')" alt="Panda roux">
        <div class="card-name">
          Collection
        </div>
      </div>
    </div>
  </div>
