

<%# FOOTER %>
  <div class="footer-container">
  <div class="row">

  <%# Friends %>
    <div class="col">
      <%= link_to friends_path do %>
        <i class="fa-solid fa-user-group icon icon-footer"></i>
      <% end %>
    </div>
  <% /Friends %>

  <%# Collections %>
    <% <div class="col"> %>
      <% <%= link_to user_collections_path(current_user) do %>
        <% <i class="fa-solid fa-layer-group icon icon-footer"></i> %>
      <% <% end %>
      <% </a> %>
    <% </div> %>
  <%# /Collections %>

  <%# Photo %>
    <div class="col">
      <%= link_to root_path do %>
        <i class="fa-solid fa-camera icon icon-footer"></i>
      <% end %>
    </div>
  <%# /Photo %>

  <%# Search %>
    <div class="col">
        <i class="fa-solid fa-magnifying-glass icon icon-footer"></i>
    </div>
  <%# /Search %>

  <%# Settings %>
    <div class="col">
      <%= link_to settings_path do %>
        <i class="fa-solid fa-gear icon icon-footer"></i>
      <% end %>
    </div>
  <%# /Settings %>

  </div>
</div>
