

<%# FOOTER %>
<div class="footer-container">
  <div class="row">

  <%# Friends %>
    <div class="col">
        F
    </div>
  <%# /Friends %>

  <%# Collections %>
    <div class="col">
        C
    </div>
  <%# /Collections %>

  <%# Photo %>
    <div class="col">
        P
    </div>
  <%# /Photo %>

  <%# Search %>
    <div class="col">
        S
    </div>
  <%# /Search %>

  <%# Settings %>
    <div class="col">
        S
    </div>
  <%# /Settings %>

  </div>
</div>
