<div class="friend-card-container">
  <div class="row">
    <div class="img-friend-profile-picture">
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10407680_10203879465886387_630895912449970449_n.jpg?oh=8b4b2b2b0b0b0b0b0b0b0b0b0b0b0b0b&oe=5A1F4F1C" alt="">
    </div>
    <div class="friend-card-username">
      <h3><%= friend.username %></h3>
    </div>
  </div>
</div>
