<nav class="navbar">
  <div class="navbar-logo">
    <img src=<%= image_path('Foxyvert.png') %> alt="Logo Vert">
  </div>
  <div class="navbar-profile">
    <% if user_signed_in? %>
      <a href=<%= user_path(current_user) %> >
        <%= cl_image_tag(current_user.photo.key, :height=>60, :width=>60, :gravity=>"auto", :crop=>"fill")  if current_user.photo.attached? %>
      </a>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</nav>
