<div data-controller="home">
  <div class='camera' >
    <video data-home-target="camera"></video>
    <i data-home-target="button_picture" data-action="click->home#take_photo" class="icon icon-photo"></i>
  </div>
  <div class="photo">
    <canvas id="canvas"> </canvas>
    <div class="output">
      <img id="photo" class='d-none' data-home-target="photo"/>
    </div>
    <div data-home-target="buttons_accept_refuse" class='d-none' >
      <i data-action="click->home#refuse" class="fa-solid fa-xmark icon icon-refuse"></i>
      <i data-action="click->home#accept" class="fa-solid fa-check icon icon-accept"></i>
    </div>
  </div>
  <div class="animal_info d-none" data-home-target="animal">

  </div>
</div>
