<div class="card-animal">
  <div class="animal-search">
    <div class="card-animal-title">Search</div>
    <%= render "searchbar" %>
  </div>
  <% if !@animals.empty? %>
    <div class="txt-title-primary">Here's our referenced animals !</div>
  <% else %>
    <div>Sorry, we did not find any results...</div>
  <% end %>
  <div>
    <%= render "animals" %>
  </div>
</div>
