<div class="card-animal">
  <div class="card-animal-background" style="background-image : url(<%= @animal.photo_url%>)">
  </div>
  <div class="container-body">
    <div class="back_button">
      <%= link_to url_for(:back) do %>
        <div class="btn btn-outline-secondary btn-back">↩</div>
      <% end %>
    </div>
    <%= render 'animals/animal'%>
  </div>
</div>
