.animal-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 8px 8px 8px;
}

.animal-searchbar {
  margin: 10px 0px 16px 16px;
}

.animal-btn {
  padding: 8px !important;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.has-search .form-control {
  padding-left: 2.375rem;
  background-color: $background;
  border: 1px solid rgba($color: $secondary, $alpha: 0.5);
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: $primary;
}

.animal-cards-list {
  margin: 8px 16px 8px 16px;
}

.animal-card {
  width: 100%;
  height: 30%;
  display: flex;
  border: 1px solid $secondary;
  border-radius: 8px;
  margin: 16px 0px;
}

.animal-link {
  position: absolute;
  width: inherit;
  height: inherit;
  a {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.animal-card-image {
  width: 30%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.animal-name {
  max-width: 60%;
  flex-grow: 2;
  color: #283618;
  font-size: 20px;
  font-weight: 900;
  align-self: center;
  text-align: center;
  padding: 8px 16px 8px 16px;
}

.animal-empty-block {
  max-width: 30%;
  flex-grow: 1;
}
