.btn {
  padding: 8px!important;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
}

.btn-primary {
  transition: background-color 1s ease!important;
  background-color: $primary!important;
  border-color: $secondary-light!important;
  color: white!important;
  &:hover {
    color: $secondary!important;
    background-color: $secondary-light!important;
    border-color: $primary!important;
  }
}

// .btn-large {

// }
