.btn {
  padding: 8px!important;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.btn-primary {
  transition: background-color 1s ease!important;
  background-color: $primary!important;
  color: white!important;
  &:active {
    color: $dark!important;
    background-color: $primary-light!important;
    border-color: $primary!important;
  }
}

.btn-large {
  width: 100%;
  padding: 10px 10px;
}

.btn-secondary  {
  color: white!important;
}

.btn-add-collec {
  width: fit-content;
  position: absolute;
  top: 74px;
  right: 10px;
}

.btn-edit {
  width: fit-content;
  position: absolute;
  top: 150px;
  right: 10px;
}

.btn-catches-animals {
  width: 116px !important;
}
