.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;

  &::before {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon-footer {
  background-color: transparent;
  color: $background;
  &:active {
  background-color: $background;
  color: $primary;
  }
}

.icon-accept {
  background-color: $green;
  color: $white;
  position: absolute;
  top: 85%;
  left: 70%;
  z-index: 10
}

.icon-refuse {
  background-color: $red;
  color: $white;
  position: absolute;
  top: 85%;
  left: 20%;
  z-index: 10
}

.icon-delete {
  background-color: $red;
  color: $white;
}

.icon-photo {
  background-color: $dark-light;
  color: $dark;
  position: absolute;
  top: 85%;
  left: 45%;
  z-index: 10
}
