.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  padding: 0 10px;
}

.navbar-logo img {
  height: 60px;
}

.navbar-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.navbar-profile a {
  display: block;
  height: 90%;
}
