.friends-list {
  text-align: center;

  .new-friends {
    color: black;
    width: 270px;
    height: 60px;
    border: solid black 1mm;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    background-color: white;
  }
}
