.settings-container {
  position: absolute;
  min-width: 100%;
  min-height: 60vh;
}

.settings-banner {
  position: absolute;
  height: 200px;
  width: 100%;
  background-color: $primary;
  border-radius: 0px 0px 16px 16px;
  z-index: 0;

}

.settings-banner-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  z-index: 1;
}

.settings-card {
  position: relative;
  top: 80px;
  z-index: 10;
  padding: 16px;
  margin-bottom: 200px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 4px rgba($color: $primary, $alpha: 0.2);

}

.settings-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.settings-user-img {
  height: 60px;
  max-width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 1px rgba($color: $primary, $alpha: 0.4);
}

.settings-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 8px 0px;
  padding: 24px 0px 0px 0px;
}

.settings-icon-light {
  font-size: 24px;
  color: $background;
  padding: 16px;
}

.settings-title-light {

  font-size: 24px;
  font-weight: 700;
  color: $background;
}

.settings-anchor {
  font-weight: 600;
  margin: 16px;
  padding: 8px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px 2px rgba($color: $primary, $alpha: 0.2);

}

.settings-subtitle {
  margin: 0px 0px 16px 0px;
  font-size: 16px;
  font-weight: 500;
  color: rgba($color: $primary, $alpha: 0.6);
}

.settings-element-title {
  margin-left: 16px;
}

.settings-icons {
  margin-right: 16px;
}

.settings-username {
  font-size: 16px;
  font-weight: 600;
}

.switch {
	display: inline-block;
	position: relative;
	width: 56px;
	height: 32px;
	cursor: pointer;
	overflow: hidden;
  input {
      position: absolute;
      top: -30px;
      left: -30px;
      width: 0;
      height: 0;
  }
}

.switch input + span {
  position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: $secondary-light;
 border-radius: 20px;
}

.switch input:checked + span {
	background: $primary;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 24px;
	height: 24px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}

.switch input:checked + span:before {
	left: 28px;
}
