.trash-bin {
  position: relative;
  margin: 10px;
  bottom: 55%;
  color: $secondary;
  font-size: 20px;
}

.trash-delete-collec {
  position: relative;
  color: $secondary;
  font-size: 20px;
  margin: 10px;
}
