<div class="card-animal-catch-content">
  <div class="card-animal-name">
    <div class="card-animal-title"><%= @animal.name%></div>
  </div>
  <div class="card-animal-catch">
    <div class="card-animal-catch-secondary">
      <p>Caught the</p>
      <p><%= @catch.created_at.to_date %></p>
      <p>In <%= @catch.location %></p>
    </div>
      <% if @catch.photo.attached? %>
        <div class="card-animal-catch-photo"><%= cl_image_tag @catch.photo.key, :aspect_ratio=>"1.0", :gravity=>"auto", :width=>135, :crop=>"fill" %></div>
      <% end %>
  </div>
</div>
