<div class="card-animal container-mobile" data-controller='catches-animals'>
  <div class="card-animal-background" style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= @animal.photo_url%>)">
  </div>
  <div class="back_button">
    <%= link_to url_for(:back) do %>
      <div class="btn btn-outline-secondary btn-back">↩</div>
    <% end %>
  </div>
  <div  data-catches-animals-target='animal'>
    <%= render 'animals/animal'%>
  </div>
  <div class="d-none" data-catches-animals-target='catch'>
    <%= render 'catches/animals/catch'%>
  </div>
  <div class="card-animal-button">
    <button data-action="click->catches-animals#animal" data-catches-animals-target = 'btnanimal' class="btn btn-secondary btn-catches-animals"> Animal </button>
    <button data-action="click->catches-animals#catch" data-catches-animals-target = 'btncatch' class="btn btn-outline-secondary btn-catches-animals"> Catch </button>
  </div>
</div>
